# Python stuff
*.pyc

# Mac stuff
.DS_Store

# Arduino
*.svd
debug_custom.json
debug.cfg

# Mac stuff
.DS_Store

# KiCAD Stuff
# from https://github.com/github/gitignore/blob/main/KiCad.gitignore
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
#auto_saved_files*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.net
*.dsn
*.ses
*.xml
*.csv
kicad/field-camera-sensor-board/#auto_saved_files#

# Vscode stuff
c_cpp_properties.json
arduino.json
.vscode/*
.vscode/c_cpp_properties.json
.vscode/arduino.json
